<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <h1 class="navbar-brand mb-0">Angular Teams Orfeus</h1>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <hr/>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" routerLink="/home" routerLinkActive="active">Início</a>
        <a href="#" class="list-group-item list-group-item-action" routerLink="/people" routerLinkActive="active">Pessoas</a>
        <a href="#" class="list-group-item list-group-item-action" routerLink="/teams" routerLinkActive="active">Equipes</a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>