/* You can add global styles to this file, and also import other style files */
.form-control.ng-touched.ng-invalid{
    border: 1px solid red!important;
}

.color-block {
    min-height: 20px;
    width: 100%;
    display: block;
}